src/main/resources/META-INF/dtds/response/inttact_response.v2.1.dtd

<!--  	This DTD defines the basic structure of an XML response.  

         File:               intacct_response.v2.1.dtd
         Version:            2.1

         (C)2002, Intacct Corporation, All Rights Reserved 

         Intacct Corporation Proprietary Information.
         This document contains trade secret data that belongs to Intacct 
         corporation and is protected by the copyright laws. Information herein 
         may not be used, copied or disclosed in whole or part without prior 
         written consent from Intacct Corporation.
-->
<!ENTITY % RESPONSE_OBJECTS SYSTEM "intacct_response_objects.v2.1.dtd">
<!ENTITY % COMMON_OBJECTS SYSTEM "intacct_common_objects.v2.1.dtd">
%RESPONSE_OBJECTS;%COMMON_OBJECTS;
<!ELEMENT response (control, (operation+ | errormessage))>
<!ELEMENT control (status, senderid, controlid, uniqueid?, dtdversion?)>
<!ELEMENT operation (authentication, (errormessage? | result*))>
<!ELEMENT authentication (status, userid, companyid, clientstatus?, (clientid|locationid)?, sessiontimestamp?)>
<!ELEMENT result (status, function, controlid, (listtype | key)?, data?, errormessage?)>
<!ELEMENT data (%LIST_OBJECTS; | %LIST_RESULTS;)*>
<!ELEMENT errormessage (error*)>
<!ELEMENT error (errorno, description?, description2?, source?, correction?)>
